@page "/Test"
@using HttpClients.ClientInterfaces
@using Domain.Models
@using System.Security.Claims
@inject IUserService userService
@attribute [Authorize]

<button class="btn btn-primary" @onclick="GetUserData">Get User Data</button>
<p>Logged-in User ID: @userId</p>
<p>UserName: @username</p>

<div class="boton-centrado">
    <a href="#top">Go up</a>
</div>

@code {
    private Task<IEnumerable<UserDomainModel>> userDomain;
    private int userId;
    private string username;

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    
    private async Task GetUserData()
    {
        Console.WriteLine("iker2");
        
        
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user1 = authState.User;
        bool isLoggedIn = user1.Identity != null;

        if (!isLoggedIn) return;
        string name = user1.Identity!.Name;
        username = name;
        UserDomainModel users = await userService.findByUsername(username);
        userId = users.Id;
        
        
    }
}