@page "/Test2"
@using HttpClients.ClientInterfaces
@using Domain.Models
@using System.Security.Claims
@using System.Diagnostics
@inject IUserService userService
@attribute [Authorize]

<button class="btn btn-primary" @onclick="GetUserData">Get User Data</button>
<p>Logged-in User ID: @userId</p>
<p>UserName: @username2</p>
<p>UserName: @username</p>

<div class="boton-centrado">
    <a href="#top">Go up</a>
</div>

@code {
    private Task<IEnumerable<UserDomainModel>> userDomain;
    private int userId;
    private string username;
    private string username2;

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    
    private async Task GetUserData()
    {
        Debug.WriteLine("iker2");
        
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user1 = authState.User;
        bool isLoggedIn = user1.Identity != null;

        if (!isLoggedIn) return;
        string name = user1.Identity!.Name;
        username = name;
        
        Debug.WriteLine("Calling userService.findByUsername");
        UserDomainModel users = await userService.findByUsername(username);
        
        username2 = "iker2";
        userId = users.Id;
        username2 = users.Username;
        
        Debug.WriteLine("User ID: " + userId);
        Debug.WriteLine("Username: " + username2);
    }
}